.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 50px;
  line-height: 1;
  opacity: 0.75;
  color: rgb(7, 61, 32);
  -webkit-font-smoothing: antialiased;
}
.slider-box {
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
}
